langchain-groq
langchain-community
python-dotenv
uvicorn
fastapi
pydantic
streamlit
langgraph
fastapi
uvicorn
lxml
python-multipart
transformers 
torch 
sentencepiece 
accelerate
groq
python-dotenv
reportlab